<div class="container">
  <div class="content">
    <img src="assets/images/logo.svg" alt="logo">
    <div class="waviy" [ngSwitch]="language">
      <ng-container *ngSwitchCase="'am'">
        <div>
          <span style="--i:1">Շ</span>
          <span style="--i:2">ու</span>
          <span style="--i:3">տ</span>
          <span style="--i:4">ո</span>
          <span style="--i:5">վ</span>
        </div>
      </ng-container>
      <ng-container *ngSwitchCase="'ru'">
        <div>
          <span style="--i:1">В</span>
          <span style="--i:2">с</span>
          <span style="--i:3">к</span>
          <span style="--i:4">о</span>
          <span style="--i:5">р</span>
          <span style="--i:6">е</span>
        </div>
      </ng-container>
      <ng-container *ngSwitchCase="'en'">
        <div>
          <span style="--i:1">C</span>
          <span style="--i:2">o</span>
          <span style="--i:3">m</span>
          <span style="--i:4">i</span>
          <span style="--i:5">n</span>
          <span style="--i:6">g</span>
        </div>
        <div>
          <span style="--i:7">S</span>
          <span style="--i:8">o</span>
          <span style="--i:9">o</span>
          <span style="--i:10">n</span>
        </div>
      </ng-container>
    </div>
  </div>
</div>
