

.container {
  height: 100vh;
  position: relative;
  .content {
    position: absolute;
    top: 40%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 100%;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    img {

      width: auto;
      max-width: 400px;

    }
  }

}

.waviy {
  font-size: calc(2vw + 2vh + 1vmin);
  display: flex;
  gap: 10px;
}
.waviy span {
  font-family: monospace;
  display: inline-block;
  color: red;
  animation: waviy 1.4s infinite;
  animation-delay: calc(.1s * var(--i));
  position: relative;
  top: -20px;
}
@keyframes waviy {
  0%,40%,100% {
    transform: translateY(0)
  }
  20% {
    transform: translateY(-20px)
  }
}
